.game{
--ion-background-color: #34e89e;  /* fallback for old browsers */
--ion-background-color: -webkit-linear-gradient(to top, #969ea1, #f3f7f5);  /* Chrome 10-25, Safari 5.1-6 */
--ion-background-color: linear-gradient(to top, #969ea1, #f3f7f5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
