<ion-header>
  <ion-toolbar text-right color="light">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title slot="start">Game</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="game" padding>
  <ion-grid>
    <ion-row class="full" align-items-center>
      <ion-col size=12>
        <ion-text>
          <p>Score: {{score}}</p>
        </ion-text>
      </ion-col>
      <ion-col size="4" *ngFor="let item of items; index as i;">
        <ion-card color="dark" class="card back" [ngClass]="{'front' : item.flipped}" (click)="selector(item)">
          <ion-img [src]="'https://robohash.org/'+ item.match" *ngIf="item.flipped"></ion-img>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>